.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.store {
  position: relative;
  width: 100%;
}
.store .message {
  position: relative;
  width: 100%;
}
.store .loading {
  position: relative;
  width: 100%;
}

.listWrapper {
  position: relative;
  width: 100%;
}
.listWrapper .list {
  width: 100%;
  border: 1px solid gray;
}
.listWrapper .list th {
  padding: 5px;
  border: 1px solid white;
}
.listWrapper .list td {
  padding: 2px;
  border: 1px solid gray;
}
.listWrapper .item {
  position: relative;
}
.listWrapper .item td {
  position: relative;
  max-width: 16.5%;
  overflow: auto;
}
.listWrapper .item td img {
  max-width: 200px;
}